In [1]:
import numpy as np
import pandas as pd
import plotly.graph_objects as go
import ipywidgets as widgets

In [2]:
global_temp_country = pd.read_csv('Datasets/Surface Temperatures/GlobalLandTemperaturesByCountry.csv')
global_temp_country["dt"] = pd.to_datetime(global_temp_country["dt"])

df = global_temp_country
df['year'] = df['dt'].dt.year
df = df.groupby(['Country', 'year'])['AverageTemperature'].mean().unstack()

countries = df.index

In [13]:
df = pd.read_csv('Datasets/Surface Temperatures/ParsedSurfaceTemp.csv')
np.sum(~df["2013"].isna())

242

In [30]:
global_temp_country[pd.Series(np.array(global_temp_country["Country"] == "India")  & np.array(global_temp_country["dt"].dt.year == 2010))]

,dt,AverageTemperature,AverageTemperatureUncertainty,Country,year
246263,2010-01-01,17.109,0.326,India,2010
246264,2010-02-01,20.764,0.221,India,2010
246265,2010-03-01,26.373,0.309,India,2010
246266,2010-04-01,29.814,0.174,India,2010
246267,2010-05-01,31.169,0.166,India,2010
246268,2010-06-01,29.908,0.142,India,2010
246269,2010-07-01,27.433,0.165,India,2010
246270,2010-08-01,26.892,0.229,India,2010
246271,2010-09-01,26.296,0.200,India,2010
246272,2010-10-01,25.193,0.208,India,2010
246273,2010-11-01,22.204,0.147,India,2010
246274,2010-12-01,17.455,0.195,India,2010

In [22]:
global_temp_country[global_temp_country["Country"] == "India"]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [3]:
def getMeanTemperature(year):
    return np.array(df[year])

In [4]:
min_year = global_temp_country['dt'].min().year
max_year = global_temp_country['dt'].max().year
initial_year = min_year
initial_year_data = getMeanTemperature(initial_year)

In [5]:
globe = go.FigureWidget(data=go.Choropleth(
    locations=countries,
    z=initial_year_data,
    locationmode='country names',
    # text=countries,
    marker=dict(line=dict(color='rgb(0,0,0)', width=1)),
    colorscale='RdBu_r',
    zmin=global_temp_country['AverageTemperature'].min(),   
    zmax=global_temp_country['AverageTemperature'].max(),
))

globe.update_layout(
    title='Average land temperature in countries',
    geo=dict(
        showframe=False,
        showocean=True,
        oceancolor='rgb(0,155,255)',
        projection=dict(
            type='orthographic',
            rotation=dict(
                lon=60,
                lat=10),
        ),
        lonaxis=dict(
            showgrid=True,
            gridcolor='rgb(102, 102, 102)'
        ),
        lataxis=dict(
            showgrid=True,
            gridcolor='rgb(102, 102, 102)'
        )
    ),
    width=800,
    height=600,
);

In [6]:
with open('countries.txt', 'w') as f:
    f.write(str(np.array(countries)))

In [7]:
slider = widgets.IntSlider(
    value=min_year,
    min=min_year,
    max=max_year,
    step=1,
    description='Year:',
    disabled=False,
    # continuous_update=False,
    orientation='horizontal',
    readout=True,
    readout_format='d'
)

def sliderBehaviour(year):
    mean_temp = getMeanTemperature(year)
    with globe.batch_update():
        globe.data[0].z = mean_temp

slider.observe(lambda change: sliderBehaviour(change['new']), names='value')

In [8]:
widgets.VBox([slider, globe])

VBox(children=(IntSlider(value=1743, description='Year:', max=2013, min=1743), FigureWidget({
    'data': [{'c…

In [9]:
global_temp_country[global_temp_country['Country'] == 'India']

,dt,AverageTemperature,AverageTemperatureUncertainty,Country,year
243695,1796-01-01,17.044,2.044,India,1796
243696,1796-02-01,19.193,1.359,India,1796
243697,1796-03-01,22.319,2.125,India,1796
243698,1796-04-01,27.233,1.510,India,1796
243699,1796-05-01,30.035,1.338,India,1796
...,...,...,...,...,...
246303,2013-05-01,31.014,0.205,India,2013
246304,2013-06-01,28.766,0.299,India,2013
246305,2013-07-01,27.012,0.197,India,2013
246306,2013-08-01,26.555,0.242,India,2013
246307,2013-09-01,NaN,NaN,India,2013